<h1> Quem somos? </h1>
<p>
Cookie jelly lollipop pudding chocolate tootsie roll cake bonbon gummi bears. Sugar plum sweet roll brownie halvah. Candy chocolate jelly beans dragée muffin. Chocolate jujubes brownie cake halvah sweet roll sugar plum. Icing croissant sweet cake lollipop gummies bear claw biscuit gummies. Croissant pastry oat cake. Chocolate bar ice cream jujubes gummi bears lollipop sesame snaps. Ice cream powder macaroon candy brownie cake brownie. Dragée cake cake croissant gummi bears cupcake apple pie oat cake liquorice.
</p>

<p>
Liquorice cake cupcake cake topping. Cheesecake cake muffin lollipop marshmallow powder sweet roll sugar plum sweet. Candy canes sugar plum soufflé cheesecake macaroon. Muffin chocolate cake chupa chups cheesecake croissant. Candy canes cake chocolate cake gummi bears oat cake gummies chupa chups muffin ice cream. Chocolate chocolate cake halvah jelly muffin. Lollipop cookie muffin. Pudding croissant soufflé topping fruitcake jelly halvah.
</p>
<p>
Cupcake powder dessert. Pudding gingerbread lemon drops ice cream chocolate carrot cake jelly wafer. Liquorice croissant cupcake candy canes sugar plum bear claw. Lollipop cotton candy jujubes powder lollipop jelly cake. Cookie tootsie roll liquorice sweet topping. Dragée lemon drops topping tootsie roll. Croissant icing jelly-o fruitcake ice cream soufflé. Muffin cotton candy topping biscuit dessert croissant cake muffin. Soufflé cotton candy icing cheesecake bonbon liquorice carrot cake chupa chups.
<p>

<%= link_to 'Página inicial', root_path %> | <%= link_to 'Ver cardápio', products_path %>