<h1> Onde nos encontrar? </h1>

<p>Estamos no facebook</p>
<p>Estamos no instagram</p>

<%= link_to 'Home', root_path %> |
<%= link_to 'Ver cardápio', products_path %> |
<%= link_to 'Quem somos?', about_path %>