<h1> Login</h1>

<%= form_with(scope: :session, local: true) do |form| %>
    <div class="field">
        <%= form.label :email, "E-mail" %>
        <%= form.email_field :email %>

    </div>

    <div class="field">
        <%= form.label :password, "Senha" %>
        <%= form.password_field :password %>
        <br>
        <%= link_to "Esqueceu sua senha?", new_password_reset_path %>

    </div>

    <div class="actions">
        <%= form.submit "Entrar" %>

    </div>

<% end %>

<%= link_to "Não possui conta? Cadastre-se agora mesmo!", new_user_path %>