<% provide(:title, 'Recuperação de senha') %>
<h1>Recuperar senha</h1>

<div class="row">
 
    <%= form_for(@user, url: password_reset_path(params[:id])) do |form| %>
      <%= render 'shared/error_messages' %>

      <%= hidden_field_tag :email, @user.email %>

      <%= form.label :password %>
      <%= form.password_field :password%>

      <%= form.label :password_confirmation, "Confirmation" %>
      <%= form.password_field :password_confirmation%>

      <%= f.submit "Atualizar senha"%>
    <% end %>
</div>