<% provide(:title, "Forgot password") %>
<h1>Recuperar senha</h1>

<div class="row">
    <%= form_for(:password_reset, url: password_resets_path) do |form| %>
      <%= form.label :email, "E-mail" %>
      <%= form.email_field :email %>

      <%= form.submit "Enviar"%>
    <% end %>
  </div>
</div>

