<h1>Recuperação de senha</h1>

<p>Para recuperar sua senha, clique no link abaixo:</p>

<%= link_to "Recupere sua senha", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>Este link expira em algumas horas.</p>

<p>
Se você não solicitou a recuperação de senha, por favor, ignore esse email!</p>