Para recuperar sua senha, clique no link abaixo

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

Este link expira em algumas horas.

Se você não solicitou a recuperação de senha, por favor, ignore esse email!




