<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email, 'Email' %>
    <%= form.email_field :email %>
  </div>

  <div class="field">
    <%= form.label :password, 'Senha' %>
    <%= form.password_field :password %>
  </div>
  
  <div class="field">
        <%= form.label :password_confirmation, "Confirmar senha" %>
        <%= form.password_field :password_confirmation %>
    </div>

  <div class="field">
    <%= form.label :cpf, 'CPF' %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :address, 'Endereço' %>
    <%= form.text_field :address %>
  </div>

  <div class="field">
    <%= form.label :photo, 'Faça um upload de uma foto' %><br>
    <%= form.file_field :photo %>
  </div>

  <div class="actions">
    <%= form.submit 'Cadastrar' %>
  </div>
<% end %>
