<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpf</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.admin %></td>
        <td><%= user.cpf %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Ver', user %></td>
        <% if user.id == current_user.id || admin_user_logged?(user) %>
          <td><%= link_to 'Configurar', edit_user_path(user) %></td>
          <td><%= link_to 'Excluir usuário', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
