<p id="notice"><%= notice %></p>

<section class="show_body">
<div class="data">
<p>
  <strong>Nome:</strong>
  <div class="profile"><%= @user.name %></div>
</p>

<% if admin_user_logged?(@user) %>
  <p>
    <strong>Admin:</strong>
    <div class="profile"><%= @user.admin %></div>
  </p>
<% end %>


<p>
  <strong>CPF:</strong>
  <div class="profile"><%= @user.cpf %></div>
</p>

<p>
  <strong>Endereço:</strong>
  <div class="profile"><%= @user.address %></div>
</p>
</div>
<div class="settings">
  <% if @user.id == current_user.id || admin_user_logged?(user) %>
    <%= link_to 'Configurações', edit_user_path(@user) %> |
    <%= link_to 'Deletar conta', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% if admin_user_logged?(@user) %>
      <%= link_to 'Ver todos os usuários', users_path %> 
    <% end %>
<% end %>
</div>
</section>


