/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 :root{
     --sauce-red: #910615;
     --mustard: #B8B212;
     --orange: #DE4B11;
     --terra: #2B1705;
     --caramelo: #B97126;
     --goiba: #E33728;
     --light-grey: #CECECE;

 }

 @font-face {
    font-family: 'Bad Script', cursive;
    src: url('https://fonts.googleapis.com/css?family=Bad+Script');
 }

 @font-face {
    font-family: 'Arimo', sans-serif;
    src: url('https://fonts.googleapis.com/css?family=Arimo')
}



@import url('https://fonts.googleapis.com/css?family=Arimo|Bad+Script|Thasadith');

body {
    background: #ffffff;

}


.nav {
    background: #910615;
    max-width: 1100px;
    height: 80px;
    margin: 0 auto;
    position: relative;
  

}
.title {
    text-align: left;
    font-size: 4em;
    color: #cecece;
    font-family: 'Bad Script', cursive;
    margin-left: 5%;
    position: absolute;
    text-decoration: none;
    margin-top: 3%;
}




.menu {
    margin-left: 48%;
    position: absolute;
    margin-top: 2.5%;
    
}
.button {
    text-decoration: none;
    font-family: 'Bad Script', cursive;
    font-size: 1.5em;
    padding-left: 15px;
    

}



.rodape {
    background: #DE4B11;
    max-width: 1100px;
    margin: 0 auto;
    height: 100px;
}

.rodape h2 {
    font-family: 'Arimo', sans-serif;
    color: #CECECE;
    font-size: 1.5em;
}
