// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cardapio {
    max-width: 1100px;
    margin: -20px auto;
    background: #B97126;
    height: 680px;
    position: relative;
}

h1 {
    
    font-family: 'Bad Script', cursive;
    font-size: 3em;
    color: #cecece;
    position: absolute;
} 

th {
    font-family: 'Bad Script', cursive;
    font-size: 1.65em;
    color: #cecece;

}

tr td {
    font-family: 'Arimo', sans-serif;
    font-size: 1.25em;
    color: #cecece;
  
}

.see {
    text-decoration: none;
    font-family: 'Arimo', sans-serif;
    color: #cecece;
    font-size: 1em;
}