// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.show_body {
    background: #B8B212;
    max-width: 1100px;
    margin-top: -1.0%;
    margin-bottom: -1.3%;
    margin-left: auto;
    margin-right: auto;

    
}

strong {
    font-family: 'Bad Script', cursive;
    color:  #cecece;
    font-size: 2em;
    padding-top: 100px; 
    margin: 2% auto;

}



.profile {
    color: #cecece;
    font-size: 1.5em;
    padding: 20px;
}

.data {
    max-width: 1100px;
    height: 100%;
}

.settings {
    max-width: 200px;
    margin-left: 100%;
    background: #2B1705;
    margin: 0 auto;
    float: right;
    
    

}
