<p id="notice"><%= notice %></p>

<div class="cardapio">
  <h1>Cardápio</h1>

  <table>
    <thead>
      <tr>
        <th class="name">Nome</th>
        <th class="price">Preço</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @products.each do |product| %>
        <tr>
          <td><%= product.name %></td>
          <td><%= product.price %></td>
          <td><%= link_to 'Ver', product, class: 'see' %></td>
          <% if admin_user_logged?(@user) %>
            <td><%= link_to 'Alterar produtos', edit_product_path(product) %></td>
            <%= link_to 'Adicionar produto ao cardápio', new_product_path %>
            <td><%= link_to 'Excluir produtos', product, method: :delete, data: { confirm: 'Está certo disso?' } %></td>
          <% end %>
          
        </tr>
      <% end %>
    </tbody>
  </table>

  
        
</div>