<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Ingredientes:</strong>
  <%= @product.ingredients %>
</p>
<% if admin_user_logged?(@user) %>
  <%= link_to 'Alterar produto', edit_product_path(@product) %> |
  
<% end %>
<%= link_to 'Voltar ao cardápio', products_path %>