<!DOCTYPE html>
<html>
  <head>
    <title>Pé de Pizza</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <body>
    
    <div class="nav">
      <%= link_to 'Pé de Pizza', root_path, class: "title" %>
     
     <div class="menu">
      <% if !current_user %>
          <%= link_to 'Login', login_path, class: "button"%>

      <% end %>
      <% if admin_user_logged?(@user) %>
        <%= link_to 'Ver usuários', users_path, class: "button" %>
      <% end %>
        <%= link_to 'Home', root_path, class: "button" %>
      <%= link_to 'Ver cardápio', products_path, class:"button"  %>
      <% if current_user %>
          <%= link_to 'Meu perfil', current_user, class:"button" %>

      <% end %>
      <%= link_to 'Quem somos?', about_path, class:"button"  %>
      <%= link_to 'Fale conosco', find_path, class:"button" %>
      <%if current_user %>
        <%= link_to 'Sair', logout_path, method: :delete, class:"button" %> 
      <% end %>
      
      </div>
    </div>
    <%= yield %>
    <footer class="rodape">
    <h2>Atendemos apenas na ilha do governador</h2>
    </footer>
   
   
  </body>
</html>
